/*Global Styles*/
* {box-sizing: border-box}
*::before {box-sizing: border-box}
body {
	max-width: 1400px;
	margin: 0px auto;
	font-family: Arial;
	overflow-x: hidden;
}
hr {
	background-color: #DFE1E5;
	border: 0;
	height: 1px;
}

/*Styling Header*/
header {
	position: relative;	
	background-color: #E8EBF1;
	padding: 33px 40px;
	box-shadow: 0px 1px #D9D9D9;
	z-index: 1;
}
.header-wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 1000px, 0 1000px);
}
.logo {
	display: flex;
	font-size: 50px;
}
.logo-black {font-weight: bold}
.logo-blue {color: #2AACC8}
.desktop-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.desktop-nav>a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	margin: 0px 9px;
	border-top: 5px solid transparent;
	font-size: 13px;
	font-weight: bold;
	transition: 0.4s ease;
}
.desktop-nav>a:hover {
	background-color: white;
	color: #2AACC8;
	border-top: 5px solid #2AACC8;
}
.desktop-nav>div {
	display: flex;
	flex-direction: column;
	margin: 0 9px;
}
.desktop-nav button {
	background-color: transparent;
	text-transform: uppercase;
	padding: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	border-top: 5px solid transparent;
	font-size: 13px;
	font-weight: bold;
	display: flex;
	align-items: center;
	transition: 0.4s ease;
}
.arrow-down {
	font-family: FontAwesome;
	font-size: 12px;
	font-weight: bold;
	color: black;
	margin-left: 5px;
	width: 8px;
}
.arrow-down::before {content: "\f107"}
#menu-services:hover #submenu-services {display: flex}
#menu-services:hover #button-services {
	border-top: 5px solid #2AACC8;
	background-color: white;
	color: #2AACC8;
}
#menu-portfolio:hover #submenu-portfolio {display: flex}
#menu-portfolio:hover #button-portfolio {
	border-top: 5px solid #2AACC8;
	background-color: white;
	color: #2AACC8;
}
.submenu-container {display: flex}
.submenu {
	position: absolute;
	display: none;
	flex-direction: column;
	background-color: white;
	border-bottom: 5px solid #2AACC8;
	padding: 10px 5px;
	transition: 0.8s ease;
}
.submenu a {
	margin: 0;
	color: black;
	border-top: 1px solid #E7E7E7;
	padding: 10px;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	white-space: nowrap;
	transition: 0.4s ease;
}
.submenu a:first-child {border: 0}
.submenu a:hover {color: #2AACC8}
.icon-menu {
	text-decoration: none;
	color: black;
	font-family: FontAwesome;
	border: 0;
	background-color: transparent;
	font-size: 24px;
	outline: none;
	padding: 4px;
	cursor: pointer;
	width: 30px;
}
.icon-menu::before {
	content: "\f0c9";
}
#mobile-nav-box {
	position: absolute;
	background-color: #E8EBF1;
	width: 100%;
	height: 100%;
	left: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}
.mobile-nav {
	display: flex;
	align-items: center;
	height: 100%;
}
.mobile-nav a {
	color: black;
	text-decoration: none;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px;
	margin: 2px 8px;
	white-space: nowrap;
	transition: 0.4s ease;
}
.mobile-nav a:hover {text-decoration: underline}
.icon-close {
	text-decoration: none;
	color: black;
	font-family: FontAwesome;
	border: 0;
	background-color: transparent;
	font-size: 24px;
	outline: none;
	padding: 4px;
	cursor: pointer;
	width: 30px;
}
.icon-close::before {
	content: "\f00d";
}
@keyframes menuin {
	from {left: 100%}
	to {left: 0}
}
@keyframes menuout {
	from {left: 0}
	to {left: 100%}
}
.show-mobile-menu {
	animation-duration: 0.6s;
	animation-name: menuin;
	animation-fill-mode: forwards;
}
.close-mobile-menu {
	animation-duration: 0.6s;
	animation-name: menuout;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

/*Styling Slider*/
#slider {
	background-color: #81E4ED;
	color: white;
	width: 100%;
	padding: 10px 40px;
}
.slider-wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	user-select: none;
}
.slider-images {
	width: 100%;
	display: flex;
	margin: 10px 0;
	background-color: black;
}
.slide {
	min-width: 100%;
	display: none;
	align-items: center;
	position: relative;
	left: 0px;
}
.active-slide {display: flex}
.slider-images img {
	width: 100%;
	opacity: 0;
	animation-duration: 2s;
	animation-name: slidein;
	animation-fill-mode: forwards;
}
.slide-out {
	animation-duration: 1s;
	animation-name: slideout;
	animation-fill-mode: forwards;
}
@keyframes textin {
	from {opacity: 0}
	to {opacity: 1}
}
@keyframes slidein {
	from {opacity: 0}
	to {opacity: 1}
}
@keyframes slideout {
	from {opacity: 1}
	to {opacity: 0}
}
.slider-text {
	color: white;
	font-size: 50px;
	font-weight: bold;
	position: absolute;
	width: 35%;
	left: 5%;
	opacity: 0;
	animation-duration: 2s;
	animation-name: textin;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}
.slider-dots {
	display: flex;
	justify-content: center;
}
.slider-dot {
	background-color: #6E9EA2;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 4px 8px;
	cursor: pointer;
	transition: 0.5s ease;
}
.slider-dot:hover {background-color: white}
.active-dot {background-color: white}

/*Styling Skills*/
.skills {
	background-color: #E8EBF1;
	padding: 50px 40px 40px;
}
.skills-wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
	display: grid;
	grid-template-columns: repeat(4, 22%);
	grid-column-gap: 4%;
}
.skills-cell {
	display: flex;
	flex-direction: column;
}
.skills-empty {display: none}
.skills-cell-top {
	width: 100%;
	display: flex;
	align-items: center;
}
.skills-cell-top>span {
	background-color: #2AACC8;
	color: white;
	min-width: 40px;
	max-width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: FontAwesome;
	font-size: 22px;
	border-radius: 50%;
	transition: 0.4s ease;
}
.skills-cell-top>span:hover {background-color: black}
.icon-pencil::before {content: "\f040"}
.icon-laptop::before {content: "\f109"}
.icon-bars::before {content: "\f0c9"}
.icon-plane::before {content: "\f1d8"}
.skills h3 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	margin: 0px 5px 0px 15px;
}
.skills p {
	font-size: 13px;
	width: 100%;
	line-height: 17px;
}
.skills a {
	text-decoration: none;
	font-size: 12px;
	color: #2AACC8;
	display: flex;
	transition: 0.4s ease;
}
.skills a:hover {color: #EF4400}
.skills a>span {
	font-family: FontAwesome;
	font-weight: bold;
	color: black;
	width: 5px;
	height: 10px;
	margin: 0 8px 0 5px;
}
.skills a>span::before {content: "\f105"}

/*Styling Middle Section*/
.middle-section {
	padding: 33px 40px;	
}
.middle-section-wrapper {
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px auto;
}

/*Styling Latest Works*/
.works {
	width: 100%;
}
.works-header {
	width: 100%;
	display: flex;
	align-items: center;
}
.icon-cursor {
	font-family: FontAwesome;
	font-size: 24px;
	color: #2AACC8;
	transition: 0.4s ease;
	width: 18px;
	margin-right: 20px;
}
.icon-cursor:hover {color: black}
.icon-cursor::before {content: "\f245"}
.works-header h3 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}
.works-buffer {flex-grow: 1}
.works-arrows {
	display: flex;
	align-items: center;
}
#works-prev, #works-next {
	background-color: #2AACC8;
	font-family: FontAwesome;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin: 0px 5px;
	cursor: pointer;
}
#works-prev:hover, #works-next:hover {color: white}
#works-prev::before {content: "\f104"}
#works-next::before {content: "\f105"}
.works-examples {
	width: 100%;
	margin: 25px 0 40px 0;
	overflow: hidden;
}
#works-wrapper {
	display: flex;
	transition: 1s ease;
}
.works-cell {
	position: relative;
	min-width: 220px;
	max-width: 220px;
	min-height: 140px;
	max-height: 140px;
	margin: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.works-cell:first-child {margin-left: 0px}
.works-cell:last-child {margin-right: 0px}
.works-cell img {width: 150%}
.work-overlay {
	position: absolute;
	height: 50%;
	width: 100%;
	bottom: 0px;
	background-color: #2AACC8;
	display: none;
	justify-content: center;
	align-items: center;
}
.work-overlay span {
	margin: 0 14px;
	font-family: FontAwesome;
	color: white;
	font-size: 22px;
	transition: 0.4s ease;
	cursor: pointer;
}
.work-overlay span:hover {
	color: black;
}
.icon-preview::before {content: "\f06e"}
.icon-link::before {content: "\f0c1"}

/*Styling Testimonals*/
.testimonals {width: 100%}
.testimonals-header {
	width: 100%;
	display: flex;
	align-items: center;
}
.icon-comment {
	font-family: FontAwesome;
	font-size: 24px;
	color: #2AACC8;
	transition: 0.4s ease;
	width: 18px;
	margin-right: 20px;
}
.icon-comment:hover {color: black}
.icon-comment::before {content: "\f0e6"}
.testimonals-header h3 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}
.testimonals .comment {
	font-size: 14px;
	line-height: 24px;
}
.testimonals .author {
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
}


/*Styling Clients*/
.clients {width: 100%}
.clients-header {
	width: 100%;
	display: flex;
	align-items: center;
}
.icon-users {
	font-family: FontAwesome;
	font-size: 24px;
	color: #2AACC8;
	transition: 0.4s ease;
	width: 18px;
	margin-right: 20px;
}
.icon-users:hover {color: black}
.icon-users::before {content: "\f0c0"}
.clients-header h3 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}
.clients-box {
	display: flex;
	flex-wrap: wrap;
	max-width: 480px;
	border: solid #E8EBF1;
	border-width: 0 1px 1px 0;
	margin: 10px 0 25px 0;
}
.client-cell {
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 33.3%;
	max-width: 160px;
	border: solid #E8EBF1;
	border-width:  1px 0 0 1px;
	box-shadow: inset 0 0 30px 5px #E8EBF1;
	overflow: hidden;
	transition: 0.4s ease;
}
.client-cell img {z-index: -1}
.client-cell:hover {
	box-shadow: inset 0 0 30px 5px rgba(0,0,0,0.4);
}

/*Styling Download section */
.download {
	background-color: #E8FCFE;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border: 1px solid #81E4ED;
	margin: 20px 0 5px 0;
}
.download p {
	font-size: 16px;
	line-height: 26px;
	margin: 0 60px 0 0;
}
.download a {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #2AACC8;
	border-left: 0px;
	border-radius: 6px;
	padding: 19px 20px;
	background: linear-gradient(#87EBF4 80%, #2AACC8 100%);
}
.download a:hover {
	background: linear-gradient(#2AACC8 80%, #2AACC8 100%);
}
.download a span {
	font-family: FontAwesome;
	font-size: 26px;
	color: white;
	width: 30px;
	height: 27px;
	margin-right: 20px;
	text-align: center;
}
.download a span::before {content: "\f019"}

/*Styling footer*/
footer {
	background-color: #E8EBF1;
	padding: 33px 40px;
	overflow: hidden;
}
.footer-wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
}
.footer-nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}
footer article {
	display: flex;
	flex-direction: column;
}
footer article>h3 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	white-space: nowrap;
	margin-bottom: 5px;
}
footer article>p {
	font-size: 14px;
	max-width: 240px;
	line-height: 18px;
	margin-top: 20px;
}
footer article>a {
	display: flex;
	flex-direction: column;
	color: black;
	white-space: nowrap;
	text-decoration: none;
	margin-top: 10px;
	transition: 0.4s ease;
}
footer article>a:hover {
	color: #005499;
}
footer article span {display: block}
.circle-links {
	margin: 10px 0;
	display: grid;
	grid-template-rows: 46px 46px;
	grid-template-columns: 46px 46px 46px;
	grid-row-gap: 14px;
	grid-column-gap: 23px;
}
.circle {
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #A9ABAE;
	border-radius: 50%;
	background-color: white;
}
.circle a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: white;
	font-family: FontAwesome;
	font-size: 20px;
	text-decoration: none;
}
.icon-facebook {background-color: #3B5998}
.icon-facebook::before {content: "\f09a"}
.icon-dribble {background-color: #EA4C88}
.icon-dribble::before {content: "\f17d"}
.icon-pinterest {background-color: #CB2027}
.icon-pinterest::before {content: "\f0d2"}
.icon-linkedin {background-color: #3399CC}
.icon-linkedin::before {content: "\f0e1"}
.icon-skype {background-color: #00AFF0}
.icon-skype::before {content: "\f17e"}
.icon-share {background-color: #21A61B}
.icon-share::before {content: "\f1e0"}
.copyright-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.copyright span {
	display: block;
	font-size: 13px;
	margin: 5px 0;
}
footer .logo {margin-left: 40px}




/*Media Queries*/

/*General Styling*/
@media only screen and (max-width: 499px) {
	/*SmartPhone styling*/
	header {padding: 30px 20px}
	footer {padding: 30px 20px}
	#slider {padding: 10px 20px}
	.skills {padding: 50px 20px 40px}
	.middle-section {padding: 33px 20px}
	.slider-text {font-size: 4vw}
	.copyright-box {
		flex-direction: column;
		text-align: center;
	}
	footer .logo {margin: 0}
	.footer-nav {
		justify-content: center;
	}
	footer article {
		align-items: center;
		text-align: center;
		margin: 10px 0;
	}
	footer h3 {margin-bottom: 0}
	.footer-nav p {
		max-width: 100%;
	}
	footer article:nth-child(1) {
		width: 100%;
	}
	footer article:nth-child(2) {
		width: 40%;
	}
	footer article:nth-child(3) {
		width: 40%;
	}
	footer article:nth-child(4) {
		width: 100%;
	}

	/*Narrow Screens*/
	@media only screen and (max-width: 319px) {
		body {width: 320px}
		.slider-text {font-size: 14px}
	}
}
@media only screen and (min-width: 500px) and (max-width: 1023px) {
	.slider-text {font-size: 4vw}
	.copyright-box {
		flex-direction: column;
		text-align: center;
	}
	footer .logo {margin: 0}
	.footer-nav {
		justify-content: center;
	}
	footer article {
		align-items: center;
		text-align: center;
		margin: 10px 0;
	}
	.footer-nav p {
		max-width: 640px;
	}
	footer h3 {margin-bottom: 0}
	footer article:nth-child(1) {
		width: 100%;
	}
	footer article:nth-child(2) {
		width: 33.3%;
	}
	footer article:nth-child(3) {
		width: 33.3%;
	}
	footer article:nth-child(4) {
		width: 33.3%;
	}
}



/*Middle Section Media*/
@media only screen and (max-width: 499px) {
	.client-cell {
		height: 80px;
		max-width: 140px;
	}
	.client-cell img {max-width: 70%}
	.download {
		flex-direction: column;
		padding: 20px;
	}
	.download p {
		margin: 0;
		text-align: center;
		font-size: 14px;
	}
	.download a {
		margin-top: 20px;
	}
}
@media only screen and (min-width: 500px) and (max-width: 799px) {
	.testimonals p {
		max-width: 420px;
		margin: 10px auto 15px;
	}
	.clients-box {
		max-width: 420px;
		margin: 10px auto 25px;
	}
	.client-cell {
		height: 80px;
		max-width: 140px;
	}
	.client-cell img {max-width: 70%}
	.download {
		flex-direction: column;
		padding: 20px;
	}
	.download p {
		margin: 0;
		text-align: center;
		font-size: 14px;
	}
	.download a {
		margin-top: 20px;
	}
}
@media only screen and (min-width: 800px) {
	.testimonals, .clients {
		width: 48%;
		padding-bottom: 10px;
	}
	.testimonals .author {margin: 10px 0}	
	.client-cell img {max-width: 70%}
}


/*Skills Section Media*/
@media only screen and (max-width: 409px) {
	.skills-wrapper {
		grid-template-columns: repeat(1, 100%);
		grid-row-gap: 30px;
	}
}
@media only screen and (min-width: 410px) and (max-width: 699px) {
	.skills-wrapper {
		grid-template-columns: repeat(2, 46%);
		grid-column-gap: 8%;
		grid-row-gap: 30px;
	}
}
@media only screen and (min-width: 700px) and (max-width: 849px) {
	.skills-wrapper {
		grid-template-columns: repeat(3, 30%);
		grid-column-gap: 5%;
		grid-row-gap: 30px;
	}
	.skills-empty {display: block}
}

/*Mobile Nav Media*/
@media only screen and (max-width: 679px) {
	.desktop-nav {display: none}
	.mobile-nav {
		flex-direction: column;
		justify-content: center;
	}
	.header-wrapper {
		height: 180px;
	}
}
@media only screen and (max-width: 939px) {
	.desktop-nav {display: none}
}
@media only screen and (min-width: 940px) {
	.icon-menu {display: none}
}
